body {
	background-color: #200000;
	color: white;
}

h1 {
	font-size: 32pt;
	font-weight: normal;
	color: red;
}

button {
	font-size: 14pt;
	height: 30pt;
	width: 804px;
}

ol {
	list-style-type: square;
}

header {
	background-color: #600000;
	font-size: 0; /*annulla il margine aggiuntivo dell'"inline-block"*/
	margin-right: -8px;
	margin-top: -8px;
	margin-left: -8px;
	height: 50px;
	font-weight: bold;
}

#header_login {
	width: 262px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -140px;
}
	
#login_title {
	display:inline-block;
	margin-left: 30px;
}

#label_div input, #label_div label, #login_form label, #login_form input {
	width: 400px;
	display: table-cell;
	font-size: 14pt;
	margin-bottom: 10px;
}

#div1 {
	text-align: center;
	display: inline-block;
	width: 200px;
	height: 44px;
	line-height: 44px;
}

#current {
	background-color: white;
	color: red;
	text-decoration: underline;
	font-weight: bold;
}

#div_body {
	margin-top: 20px;
	margin-left: 220px;
}

#stato {
	margin-top: -18px;
	margin-left: -18px;
	margin-bottom: 10px;
	font-size: 14pt;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	background-color: #600000;
}

.logo {
	width: 56px;
	height: 44px;
	display: inline-block;
}

.sidebar {
	float: left;
	width: 200px;
	margin-left: -8px; /*attacca la barra alla finestra*/
	border-style:solid;
	border-width: 3px;
	border-color: white;
	background-color: #600000;
}

.div_right {
	text-align:center;
	display: inline-block;
	width:150px;
	line-height: 44px;
}

.header_writing {
	border-width: 3px;
	border-color: white;
	border-style: solid;
	font-size: 18pt;
}

.float_right {
	float: right;
	display:inline-block;
	font-size: 12pt;
	text-align:center;
	width: 150px;
	margin-top: 7px;
}

.side_titolo {
	font-weight:bold;
	font-size: 14pt;
	margin-left: 40px;
}

.amico {
	font-size: 12pt;
	margin-left: 40px;
}

.post {
	border-style: solid;
	border-width: 3px;
	border-color: white;
	margin-bottom: 15px;
	background-color: darkgrey;
	background-color: #600000;
}

.propic {
	width: 50px;
	height: 50px;
	display: inline-block;
	float:left;
}

.name {
	margin-left: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	display: inline-block;
	height: 50px;
	line-height:50px;
}

#login_form {
	background-color: #800000;
	width: 804px;
	margin-left: -402px;
	margin-top: -90px;
	padding: 15px 15px 15px 15px;
	
}

.row {
	display: table-row;
}

#login {
	margin-top: 10px;
	width: 250px;
}

#propic {
	margin-left: 10px;
	margin-top: 10px;
	float:left;
}

#propic img {
	width: 150px;
	height: 150px;
}

.center {
	position:absolute;
	top: 50%;
	left:50%;
}

.input_row {
	width:146px;
}

input[type=text]:focus, input[type=password]:focus{
	width: 250px;
	background-color: lightgrey;
}

#signup {
	margin-left: 150px;
}

a:link {
	color: orange;
	text-decoration: underline;
}

a:visited {
	color: grey;
	text-decoration: underline;
}

a:hover {
	font-weight: bold;
}

a:active {
	color: red;
}